        <div class="row">

                <div class="col-md-6">
                    <img src="assets/not-found-404-humaan-illus.png" alt="not-found-404-humaan-illus.png" class="w-100">
                </div>
                <div class="align-items-center col-md-6 d-flex justify-content-center flex-column">
                    <h1 class="text-center mt-5">Ahh !! Such empty</h1>
                    <p class="text-small mb-5 ">The resource you were looking is not found.</p>
                    <p class="lead text-center">
                            <a class="btn btn-primary btn-lg" href="/" role="button">Go back to Home</a>
                        </p>
                </div>
            </div>
 