<div class="row mt-5 mb-5">
    <div class="col-md-12 m-auto">
        <div class="card card-body">

            <p class="lead m-2">Here are the latest tweets (Max: 20) in text format from: <%= inputURL %></p>
            <div class="jumbotron jumbotron-fluid pt-0">
                <div class="container" style="white-space: pre-line;">
                    <%= tweetsScrapped %>
                     <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/" role="button">Go back to home</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>